<ul>
    <%= link_to "/" do %>
        <li>Landing Page</li>
    <% end %>
    <%= link_to "/map" do %>
        <li>Map</li>
    <% end %>
    <%= link_to "/report" do %>
        <li>Report</li>
    <% end %>
</ul>