<main class="flex flex-col relative z-1" data-controller="dropdown">
    <div class="flex flex-1">
        <div class="h-screen bg-gray-600 p-2">
            <%= render "locations/sidebar" %>
        </div>
        <div data-dropdown-target="details" class="hidden md:block md:min-w-[25rem] bg-gray-200">
            <%= render "locations/index_details" %>
        </div>
        <div class="flex-1">
            <%= render "locations/map", locations:@locations %>
        </div>
    </div>
</main>

