<main class="flex flex-col h-screen">
<nav class="flex gap-2 h-14 bg-gray-800">
    <%= render "locations/navbar"%>
</nav>
<div class="flex flex-1">
    <div class="w-1/4 bg-gray-200">
        <%= render "locations/sidebar"%>
    </div>
    <div class="flex-1">
        <%= render "locations/map", locations:@locations %>
    </div> 
</div>
</main>

