<section class="flex">
    <div class="p-2 bg-gray-600 static top-0">
        <%= render "locations/sidebar"%>
    </div>
    <div class="w-full">
        <%= render "locations/timeline_events"%>
    </div>
</section>